In [15]:
import pandas as pd

In [16]:
predicted_df = pd.read_csv("merged_with_predicted.csv")

In [17]:
predicted_df.head()

,Unnamed: 0,index,id,date,price_x,sqft_living,sqft_lot,sqft_above,sqft_basement,yr_built,...,zipcode,lat,long,sqft_living15,sqft_lot15,month,year,age,price_y,predicted
0,7,7,2008000270,2015-01-15,291850.0,1060,9711,1060,0,1963,...,98198,47.4095,-122.315,1650,9711,1,2015,52,291850.0,274170.6
1,8,8,2414600126,2015-04-15,229500.0,1780,7470,1050,730,1960,...,98146,47.5123,-122.337,1780,8113,4,2015,55,229500.0,390993.5
2,12,12,114101516,2014-05-28,310000.0,1430,19901,1430,0,1927,...,98028,47.7558,-122.229,1780,12697,5,2014,88,310000.0,462398.3
3,16,16,1875500060,2014-07-31,395000.0,1890,14040,1890,0,1994,...,98019,47.7277,-121.962,1890,14018,7,2014,21,395000.0,347725.7
4,18,18,16000397,2014-12-05,189000.0,1200,9850,1200,0,1921,...,98002,47.3089,-122.210,1060,5095,12,2014,94,189000.0,456679.0

In [18]:
predicted_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4323 entries, 0 to 4322
Data columns (total 21 columns):
Unnamed: 0       4323 non-null int64
index            4323 non-null int64
id               4323 non-null int64
date             4323 non-null object
price_x          4323 non-null float64
sqft_living      4323 non-null int64
sqft_lot         4323 non-null int64
sqft_above       4323 non-null int64
sqft_basement    4323 non-null int64
yr_built         4323 non-null int64
yr_renovated     4323 non-null int64
zipcode          4323 non-null int64
lat              4323 non-null float64
long             4323 non-null float64
sqft_living15    4323 non-null int64
sqft_lot15       4323 non-null int64
month            4323 non-null int64
year             4323 non-null int64
age              4323 non-null int64
price_y          4323 non-null float64
predicted        4323 non-null float64
dtypes: float64(5), int64(15), object(1)
memory usage: 709.4+ KB

In [19]:
predicted_df.rename(columns={'price_y':'price','Predicted':'predicted'}, inplace=True)

In [20]:
predicted_df.columns

Index(['Unnamed: 0', 'index', 'id', 'date', 'price_x', 'sqft_living',
       'sqft_lot', 'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated',
       'zipcode', 'lat', 'long', 'sqft_living15', 'sqft_lot15', 'month',
       'year', 'age', 'price', 'predicted'],
      dtype='object')

In [21]:
predicted_df.drop(columns=['Unnamed: 0', 'price_x'], inplace=True)

In [22]:
predicted_df.head()

,index,id,date,sqft_living,sqft_lot,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,month,year,age,price,predicted
0,7,2008000270,2015-01-15,1060,9711,1060,0,1963,0,98198,47.4095,-122.315,1650,9711,1,2015,52,291850.0,274170.6
1,8,2414600126,2015-04-15,1780,7470,1050,730,1960,0,98146,47.5123,-122.337,1780,8113,4,2015,55,229500.0,390993.5
2,12,114101516,2014-05-28,1430,19901,1430,0,1927,0,98028,47.7558,-122.229,1780,12697,5,2014,88,310000.0,462398.3
3,16,1875500060,2014-07-31,1890,14040,1890,0,1994,0,98019,47.7277,-121.962,1890,14018,7,2014,21,395000.0,347725.7
4,18,16000397,2014-12-05,1200,9850,1200,0,1921,0,98002,47.3089,-122.210,1060,5095,12,2014,94,189000.0,456679.0

In [23]:
predicted_df['price'] = predicted_df['price'].map('${:,.2f}'.format)

In [24]:
predicted_df['predicted'] = predicted_df['predicted'].map('${:,.2f}'.format)

In [25]:
predicted_df.head()

,index,id,date,sqft_living,sqft_lot,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,month,year,age,price,predicted
0,7,2008000270,2015-01-15,1060,9711,1060,0,1963,0,98198,47.4095,-122.315,1650,9711,1,2015,52,"$291,850.00","$274,170.60"
1,8,2414600126,2015-04-15,1780,7470,1050,730,1960,0,98146,47.5123,-122.337,1780,8113,4,2015,55,"$229,500.00","$390,993.50"
2,12,114101516,2014-05-28,1430,19901,1430,0,1927,0,98028,47.7558,-122.229,1780,12697,5,2014,88,"$310,000.00","$462,398.30"
3,16,1875500060,2014-07-31,1890,14040,1890,0,1994,0,98019,47.7277,-121.962,1890,14018,7,2014,21,"$395,000.00","$347,725.70"
4,18,16000397,2014-12-05,1200,9850,1200,0,1921,0,98002,47.3089,-122.210,1060,5095,12,2014,94,"$189,000.00","$456,679.00"

In [26]:
predicted_df.to_csv("final_predicted_table.csv")