In [11]:
import pandas as pd

In [2]:
predicted_df = pd.read_csv("predicted_values.csv")

In [14]:
predicted_df.rename(columns={'Actual':'price'}, inplace=True)

In [15]:
predicted_df.columns

Index(['Unnamed: 0', 'price', 'Predicted'], dtype='object')

In [16]:
house_df = pd.read_csv("house_data_added_columns.csv")

In [17]:
house_df.head()

,Unnamed: 0,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,month,year,age
0,0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,...,1955,0,98178,47.5112,-122.257,1340,5650,10,2014,60
1,1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,...,1951,1991,98125,47.7210,-122.319,1690,7639,12,2014,64
2,2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,...,1933,0,98028,47.7379,-122.233,2720,8062,2,2015,82
3,3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,...,1965,0,98136,47.5208,-122.393,1360,5000,12,2014,50
4,4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,...,1987,0,98074,47.6168,-122.045,1800,7503,2,2015,28

In [18]:
merged_house_df = pd.merge(house_df, predicted_df, on='price', how='left')

In [25]:
final_merged_df = merged_house_df.round({'Predicted': 1})

In [36]:
final_merged_df.columns

Index(['Unnamed: 0_x', 'id', 'date', 'price', 'bedrooms', 'bathrooms',
       'sqft_living', 'sqft_lot', 'floors', 'waterfront', 'view', 'condition',
       'grade', 'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated',
       'zipcode', 'lat', 'long', 'sqft_living15', 'sqft_lot15', 'month',
       'year', 'age', 'Unnamed: 0_y', 'Predicted'],
      dtype='object')

In [34]:
final_merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 204601 entries, 0 to 204600
Data columns (total 27 columns):
Unnamed: 0_x     204601 non-null int64
id               204601 non-null int64
date             204601 non-null object
price            204601 non-null float64
bedrooms         204601 non-null int64
bathrooms        204601 non-null float64
sqft_living      204601 non-null int64
sqft_lot         204601 non-null int64
floors           204601 non-null float64
waterfront       204601 non-null int64
view             204601 non-null int64
condition        204601 non-null int64
grade            204601 non-null int64
sqft_above       204601 non-null int64
sqft_basement    204601 non-null int64
yr_built         204601 non-null int64
yr_renovated     204601 non-null int64
zipcode          204601 non-null int64
lat              204601 non-null float64
long             204601 non-null float64
sqft_living15    204601 non-null int64
sqft_lot15       204601 non-null int64
month            204601 non-null int64
year             204601 non-null int64
age              204601 non-null int64
Unnamed: 0_y     201151 non-null float64
Predicted        201151 non-null float64
dtypes: float64(7), int64(19), object(1)
memory usage: 43.7+ MB

In [32]:
final_final_df = final_merged_df.dropna()

In [33]:
final_final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 201151 entries, 1 to 204600
Data columns (total 27 columns):
Unnamed: 0_x     201151 non-null int64
id               201151 non-null int64
date             201151 non-null object
price            201151 non-null float64
bedrooms         201151 non-null int64
bathrooms        201151 non-null float64
sqft_living      201151 non-null int64
sqft_lot         201151 non-null int64
floors           201151 non-null float64
waterfront       201151 non-null int64
view             201151 non-null int64
condition        201151 non-null int64
grade            201151 non-null int64
sqft_above       201151 non-null int64
sqft_basement    201151 non-null int64
yr_built         201151 non-null int64
yr_renovated     201151 non-null int64
zipcode          201151 non-null int64
lat              201151 non-null float64
long             201151 non-null float64
sqft_living15    201151 non-null int64
sqft_lot15       201151 non-null int64
month            201151 non-null int64
year             201151 non-null int64
age              201151 non-null int64
Unnamed: 0_y     201151 non-null float64
Predicted        201151 non-null float64
dtypes: float64(7), int64(19), object(1)
memory usage: 43.0+ MB

In [35]:
final_final_df.to_csv("merged_with_predicted.csv")