In [100]:
import pandas as pd

In [101]:
predicted_df = pd.read_csv("predicted_values.csv")

In [115]:
predicted_df.head()

   Unnamed: 0      price     predicted
0       17384   297000.0  2.897388e+05
1         722  1580000.0  1.481052e+06
2        2680   562100.0  5.227507e+05
3       18754   631500.0  5.575611e+05
4       14554   780000.0  8.510376e+05

In [116]:
predicted_df.rename(columns={'Actual':'price','Predicted':'predicted','Unnamed: 0':'index'}, inplace=True)

In [117]:
predicted_df.columns

Index(['index', 'price', 'predicted'], dtype='object')

In [118]:
house_df = pd.read_csv("house_data_added_columns.csv")

In [119]:
house_df.head()

,Unnamed: 0,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,month,year,age
0,0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,...,1955,0,98178,47.5112,-122.257,1340,5650,10,2014,60
1,1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,...,1951,1991,98125,47.7210,-122.319,1690,7639,12,2014,64
2,2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,...,1933,0,98028,47.7379,-122.233,2720,8062,2,2015,82
3,3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,...,1965,0,98136,47.5208,-122.393,1360,5000,12,2014,50
4,4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,...,1987,0,98074,47.6168,-122.045,1800,7503,2,2015,28

In [120]:
house_df.reset_index(level=0, inplace=True)
house_df.head()

,index,Unnamed: 0,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,...,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,month,year,age
0,0,0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,...,1955,0,98178,47.5112,-122.257,1340,5650,10,2014,60
1,1,1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,...,1951,1991,98125,47.7210,-122.319,1690,7639,12,2014,64
2,2,2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,...,1933,0,98028,47.7379,-122.233,2720,8062,2,2015,82
3,3,3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,...,1965,0,98136,47.5208,-122.393,1360,5000,12,2014,50
4,4,4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,...,1987,0,98074,47.6168,-122.045,1800,7503,2,2015,28

In [121]:
merged_house_df = pd.merge(house_df, predicted_df, on='index', how='left')

In [122]:
final_merged_df = merged_house_df.round({'predicted': 1})

In [123]:
final_merged_df.columns

Index(['index', 'Unnamed: 0', 'id', 'date', 'price_x', 'bedrooms', 'bathrooms',
       'sqft_living', 'sqft_lot', 'floors', 'waterfront', 'view', 'condition',
       'grade', 'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated',
       'zipcode', 'lat', 'long', 'sqft_living15', 'sqft_lot15', 'month',
       'year', 'age', 'price_y', 'predicted'],
      dtype='object')

In [125]:
final_merged_df.drop(columns=['Unnamed: 0','Unnamed: 0','bedrooms','bathrooms','floors','waterfront',
                             'view','condition','grade'], inplace=True)

In [131]:
final_merged_df.rename(columns=['price_x':'price']), inplace=True)

SyntaxError: invalid syntax (<ipython-input-131-96f0c80c653d>, line 1)

In [127]:
final_final_df = final_merged_df.dropna()

In [128]:
final_final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4323 entries, 7 to 21610
Data columns (total 20 columns):
index            4323 non-null int64
id               4323 non-null int64
date             4323 non-null object
price_x          4323 non-null float64
sqft_living      4323 non-null int64
sqft_lot         4323 non-null int64
sqft_above       4323 non-null int64
sqft_basement    4323 non-null int64
yr_built         4323 non-null int64
yr_renovated     4323 non-null int64
zipcode          4323 non-null int64
lat              4323 non-null float64
long             4323 non-null float64
sqft_living15    4323 non-null int64
sqft_lot15       4323 non-null int64
month            4323 non-null int64
year             4323 non-null int64
age              4323 non-null int64
price_y          4323 non-null float64
predicted        4323 non-null float64
dtypes: float64(5), int64(14), object(1)
memory usage: 709.2+ KB

In [129]:
final_final_df.to_csv("merged_with_predicted.csv")